{{#items}}
@{{name}}-font-family: {{{fontFamily}}};
@{{name}}-value: "\{{{value}}}";
@{{name}}: {{{fontFamily}}} "\{{{value}}}";
{{/items}}

.icon(@char) {
  font-family: ~`"@{char}".split(", ")[0]`;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  &:before {
    {{! DEV: We perform a slice due to a trailing brace from string coercion of arrays }}
    content: ~`"@{char}".split(", ")[1].slice(0, -1)`;
  }
}

{{! TODO: We can allow font-family to be an input }}
{{! Then, use .icon with the second parameter fallback of font-family }}
@font-face {
  font-family: {{{fontFamily}}};
  {{#fonts.eot}}
  src:url("{{{fonts.eot}}}");
  {{/fonts.eot}}
  src:{{#fonts.eot}}url("{{{fonts.eot}}}?#iefix") format("embedded-opentype"),
    {{/fonts.eot}}{{#fonts.woff}}url("{{{fonts.woff}}}") format("woff"),
    {{/fonts.woff}}{{#fonts.ttf}}url("{{{fonts.ttf}}}") format("truetype"),
    {{/fonts.ttf}}{{#fonts.svg}}url("{{{fonts.svg}}}#icomoon") format("svg"){{/fonts.svg}};
  font-weight: normal;
  font-style: normal;
}