{{#items}}
${{name}}-value: '\{{{value}}}';
${{name}}: '\{{{value}}}';
{{/items}}

@icon($name, $font='icon-font') {
  font-family: $font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  &:before {
    content: $name[0];
  }
}

{{! On a second thought, this is useless since it will be overwritten immediately via the cascade }}
{{! TODO: If this fails (not sure about font-face in mixin), remove it }}
@font($name='icon-font') {
  @font-face {
    font-family: $name;
    {{#fonts.eot}}
    src:url('{{{.}}}');
    {{/fonts.eot}}
    src:{{#fonts.eot}}url('{{{.}}}?#iefix') format('embedded-opentype'),
      {{/fonts.eot}}{{#fonts.woff}}url('{{{.}}}') format('woff'),
      {{/fonts.woff}}{{#fonts.ttf}}url('{{{.}}}') format('truetype'),
      {{/fonts.ttf}}{{#fonts.svg}}url('{{{.}}}#icomoon') format('svg'){{/fonts.svg}};
    font-weight: normal;
    font-style: normal;
  }
}