@font-face {
  font-family: "fontsmith-multiple";
  src:url("font.eot");
  src:url("font.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.icon-eye {
  font-family: "fontsmith-multiple";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-eye:before {
  content: "\e000";
}
.icon-building_block {
  font-family: "fontsmith-multiple";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-building_block:before {
  content: "\e001";
}
.icon-moon {
  font-family: "fontsmith-multiple";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-moon:before {
  content: "\e002";
}